version:
  name: velociraptor
  version: 0.77.1
  commit: 3137c7f71
  build_time: "2026-06-22T15:32:15Z"
  compiler: go1.25.3
  system: linux
  architecture: amd64
Client:
  server_urls:
  - wss://localhost:8000/
  ca_certificate: |
    -----BEGIN CERTIFICATE-----
   -----END CERTIFICATE-----
  nonce:  <insert>
  writeback_darwin: /etc/velociraptor.writeback.yaml
  writeback_linux: /etc/velociraptor.writeback.yaml
  writeback_windows: $ProgramFiles\Velociraptor\velociraptor.writeback.yaml
  level2_writeback_suffix: .bak
  tempdir_windows: $ProgramFiles\Velociraptor\Tools
  max_poll: 60
  nanny_max_connection_delay: 600
  windows_installer:
    service_name: Velociraptor
    install_path: $ProgramFiles\Velociraptor\Velociraptor.exe
    service_description: Velociraptor service
  darwin_installer:
    service_name: com.velocidex.velociraptor
    install_path: /usr/local/bin/velociraptor
  version:
    name: velociraptor
    version: 0.77.1
    commit: 3137c7f71
    build_time: "2026-06-22T15:32:15Z"
    compiler: go1.25.3
    system: linux
    architecture: amd64
  server_version:
    version: 0.77.1
    commit: 3137c7f71
    build_time: "2026-06-22T15:32:15Z"
  use_self_signed_ssl: true
  max_upload_size: 5242880
  local_buffer:
    memory_size: 52428800
    disk_size: 1073741824
    filename_linux: /var/tmp/Velociraptor_Buffer.bin
    filename_windows: $TEMP/Velociraptor_Buffer.bin
    filename_darwin: /var/tmp/Velociraptor_Buffer.bin
