# Big directories
wazuh-docker/
volatility3/
volatility/
velociraptor/velociraptor-*
*.vmem
*.msi
*.zip

# Docker
docker-compose.override.yml
*.log
__pycache__/
.cache/
.env

# Temporary
*.tmp
par.txt*
velociraptor/*.config.yaml
